body {
    font-family: 'Poppis', sans-serif;
    margin: 0;
    padding: 0;
    background-color: firebrick;
}

header {
    background-color: blue;
    color: aquamarine;
    padding: 2rem;
    text-align: center;
}

nav ul{
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      margin-top: 1rem;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section{
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

h2{
    color: blueviolet;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}